/node_modules
/public/[0-9]*.js
/public/*.js.LICENSE.txt
/public/mix-manifest.json
/public/fonts
/public/js
/public/hot
/public/storage
/storage/*.key
/vendor
/packages/laravel-plus
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
